@{
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
    ViewData["Title"] = "Confirm email";
}

<div class="col-12">
    <div class="card card-shadowed px-50 py-30 w-400px mx-auto" style="max-width: 100%">
        <h2>@ViewData["Title"]</h2>
        <div>
            <p>
                Thank you for confirming your email.<br /> <a asp-controller="Account" asp-action="Login">Click here to sign in</a>.
            </p>
        </div>
    </div>
</div>