@{
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
    ViewData["Title"] = "Forgot password confirmation";
}

<div class="col-12">
    <div class="card card-shadowed px-50 py-30 w-400px mx-auto" style="max-width: 100%">


        <h2>@ViewData["Title"]</h2>
        <p>
            Please check your email to reset your password.
        </p>
    </div>
</div>