@{
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
    ViewData["Title"] = "Please Confirm email";
}

<div class="col-12">
    <div class="card card-shadowed px-50 py-30 w-400px mx-auto" style="max-width: 100%">
        <h2>@ViewData["Title"]</h2>
        <div>
            <p>
                Please check for the email we sent to the address you provided to confirm your account. <br/> You may close this window.
            </p>
        </div>
    </div>
</div>