@model RegisterViewModel
@{
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
    ViewData["Title"] = "Register";
}

<h2>@ViewData["Title"]</h2>


<div class="col-12">
    <div class="card card-shadowed px-50 py-30 w-400px mx-auto" style="max-width: 100%">
        <h5 class="text-uppercase">Create an account</h5>
        <br>
        <form class="form-type-material" asp-route-returnUrl="@ViewData["ReturnUrl"]" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <input asp-for="Email" class="form-control" id="email" />
                <label asp-for="Email"></label>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="Password" class="form-control" id="password" />
                <label asp-for="Password"></label>
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="ConfirmPassword" class="form-control" id="password-conf" />
                <label asp-for="ConfirmPassword"></label>
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input">
                    <span class="custom-control-indicator"></span>
                    <span class="custom-control-description">I agree to the <a class="text-primary" href="#">Terms of Service</a></span>
                </label>
            </div>
            <br>
            <button class="btn btn-bold btn-block btn-primary" type="submit">Register</button>
        </form>
    </div>
    <p class="text-center text-muted fs-13 mt-20">Already have an account? <a asp-action="Login" class="text-primary fw-500">Sign in</a></p>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
