@{
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
    ViewData["Title"] = "Reset password confirmation";
}


<div class="col-12">
    <div class="card card-shadowed px-80 py-30 w-400px mx-auto" style="max-width: 100%">
        <h2>@ViewData["Title"]</h2>
        <p>
            Your password has been reset. Please <a asp-action="Login">click here to log in</a>.
        </p>
    </div>
</div>