@{
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
    ViewData["Title"] = "Signed out";
}

<div class="col-12">
    <div class="card card-shadowed px-50 py-30 w-400px mx-auto" style="max-width: 100%">
        <h2>@ViewData["Title"]</h2>
        <p>
            You have successfully signed out.
        </p>
    </div>
</div>