@{
    ViewData["Title"] = "Home Page";
}

<div class="main-content">

    <div class="card">
        <h4 class="card-title">Card title</h4>
        <div class="card-body">
        </div>
    </div>

</div>